body
{
	background-color: #FFFFFF;
}

#Content
{
	background-color: #000000;
}

#Header
{
	background-color: #000000;
	font-size: 32px;
}

#Main
{
	background-color: #000000;
	font-size: 24px;
}

#Footer
{	
	background-color: #000000;
	font-size: 24px;
}

h1
{
	
}